body {
  margin: 0px;
  height: 100%;
  padding: 0px;
}

.map-canvas {
  width: 100%;
  height: 100%;
}

.header {
  padding-right: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 105;
  position: fixed;
  top: 10px;
  left: 15px;
  height: 0px;
  background-color: #fff;
}

#title {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin: 30px 0 10px 0;
  border: 1px solid #ccc;
  position: absolute;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#title input::-webkit-input-placeholder {
  font-style: italic;
}

#title input::-moz-placeholder {
  font-style: italic;
  color: #a9a9a9;
}

#title h1 {
  position: relative;
  z-index: 100;
  top: -60px;
  width: 100%;
  padding-left: 5px;
  font-size: 2.6em;
  font-weight: bold;
  text-align: center;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  background-color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.searchbar {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 100%;
  width: 225px;
  height: 30px;
  display: flex;
  float: right;
  z-index: 108;
  position: absolute;
  top: 75px;
  left: 15px;
  vertical-align: top;
}

.search-area {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  width: 80%;
  height: 100%;
/*  display: block; */
  box-sizing: border-box;
  outline: 0;
}

.search-area:focus,
.settings-area:focus {
  border: 2px solid #ff9800;
}

.search-button {
  background-color: #f8b619;
  z-index: 103;
  width: 45px;
  height: 30px;
  position: fixed;
  vertical-align: top;
  border: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0px;
  outline: 0;
  cursor: pointer;
}

.search-button:before {
  background: url("../img/search.png");
  background-size: 24px;
  display: block;
  height: 24px;
  width: 24px;
  content: "";
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.search-button:hover {
  background-color: #600f97;
}

.search-button:active,
.settings-icon:active {
  background-color: #e65100;
}

.list-title {
  color: #535353;
  padding-left: 5px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.list-title:hover {
  background-color: #fafafa;
}

.list-title:active {
  background-color: #eeeeee;
}

.list-title h4 {
  margin: 3px;
  text-align: center;
}

#instafeed {
  text-align: center;
  z-index: 100;
  position: fixed;
  padding-left: 5px;
  top: 5px;
  right: 10px;
}

.infowindow {
  font-size: 13px;
  z-index: 105;
}

#venueList {
  width: 220px;
  padding-left: 2px;
  padding-right: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 102;
  position: absolute;
  top: 125px;
  left: 15px;
  background-color: #fff;
}

.venues {
  font-size: 13px;
  list-style: none;
  max-width: 220px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.venues::-webkit-scrollbar {
  width: 10px;
  overflow: visible;
}

.venues::-webkit-scrollbar-thumb {
  background-color: #f8b619;
  min-height: 28px;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

.venues::-webkit-scrollbar-thumb:hover {
  background-color: #600f97;
}

hr {
  background: #e6e6e6;
  height: 1px;
  border: none;
  margin-top: 0;
  margin-bottom: 15px; 
}

.venues li {
  padding: 5px;
  padding-bottom: 5px;
  padding-top: 0px;
  color: #535353;
}

.venues li:hover {
  background-color: #fff3e0;
}

.venues li:active {
  background-color: #ffd180;
}

.infowindow p,
.venues p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.listName {
  font-weight: bold;
  font-size: 15px;
  color: #404040;
}

#iw-container  .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 0px;
  color: white;
  background-color: #600f97;
  margin: 0px;
  border-radius: 2px 2px 0 0;
}

.v-rating {
  color: #ff9800;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: center;
}

.rating-title {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.no-result {
  position: fixed;
  top: 220px;
  left: 30px;
  color: #9e9e9e;
}

#error {
  position: absolute;
  z-index: 110;
  background-color: #600f97;
  color: #f8b619;
  height: 100%;
  width: 100%;
  display: none;
  text-align: center;
}

/* TODO: add neighborhood selection list
.neighborhood-box {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 285px;
  height: 50px;
  display: flex;
  z-index: 101;
  position: fixed;
  top: 75px;
  right: 30px;
  background-color: #fff;
}

.neighborhood-title {
  color: #535353;
  padding-left: 5px;
  border-bottom: 1px solid #e6e6e6;
  max-width: 270px;
  width: 100%;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  outline: 0;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
}

.selections {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 280px;
  height: 20px;
  display: block;
  z-index: 101;
  position: fixed;
  padding-left: 5px;
  top: 130px;
  right: 30px;
  background-color: #fff;
}

.selection-items {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 245px;
  height: 150px;
  display: block;
  z-index: 101;
  position: fixed;
  top: 155px;
  right: 30px;
  background-color: #fff;
}
*/

/* smartphones & smaller screens portrait mode */
@media only screen and (max-width: 699px){
.header {
  left: 5px;
  box-shadow: 0 0px 0px rgba(0,0,0,0);
}
#title {
  margin: 0px 0 0px 0;
  border: 0px;
}
#title h1 {
  top: 0px;
  font-size: 1.3em;
}
#venueList {
  width: 215px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 100;
  position: absolute;
  top: 380px;
  left: 5px;
  background-color: #fff;
}
.venues {
  font-size: 1em;
  list-style: none;
  max-width: 215px;
  height: 180px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.venues li {
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  color: #535353;
}
.listName {
  font-weight: bold;
  font-size: 14px;
  color: #404040;
}
.searchbar {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 215px;
  height: 30px;
  display: flex;
  z-index: 100;
  position: fixed;
  top: 340px;
  left: 5px;
}
#instafeed {
    display: none;
}
.no-result {
  position: fixed;
  bottom: 45px;
  top: initial;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: #9e9e9e;
}
}

/* smartphones & smaller screens landscape mode */
@media only screen and (max-height: 379px) {
.header {
  left: 5px;
  box-shadow: 0 0px 0px rgba(0,0,0,0);
}
#title {
  margin: 0px 0 0px 0;
  border: 0px;
}
#title h1 {
  top: 0px;
  font-size: 1.3em;
}
#venueList {
  width: 215px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 100;
  position: absolute;
  top: 95px;
  left: 5px;
  background-color: #fff;
}
.venues {
  font-size: 1em;
  list-style: none;
  max-width: 215px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.searchbar {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 215px;
  height: 30px;
  display: flex;
  z-index: 100;
  position: fixed;
  top: 55px;
  left: 5px;
}
#instafeed {
    display: none;
}
.no-result {
  position: fixed;
  bottom: 45px;
  top: initial;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: #9e9e9e;
}
}